---
version: 1
interactions:
    - request:
        body: |
            {"name":"web","config":{"content_type":"json","url":"https://superplane.sxmoon.com/api/v1/webhooks/25d51628-5912-45f0-996b-67d9cd4e08c3","secret":"N9uCp20mvAUlcT2hZDbB0dnCOI2TWKFKzst8VYJ3m_4="},"events":["push"],"active":true}
        form: {}
        headers:
            Authorization:
                - Bearer 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
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/puppies-inc/front/hooks
        method: POST
      response:
        body: '{"type":"Repository","id":585776376,"name":"web","active":true,"events":["push"],"config":{"content_type":"json","insecure_ssl":"0","secret":"********","url":"https://superplane.sxmoon.com/api/v1/webhooks/25d51628-5912-45f0-996b-67d9cd4e08c3"},"updated_at":"2025-12-11T15:46:12Z","created_at":"2025-12-11T15:46:12Z","url":"https://api.github.com/repos/puppies-inc/front/hooks/585776376","test_url":"https://api.github.com/repos/puppies-inc/front/hooks/585776376/test","ping_url":"https://api.github.com/repos/puppies-inc/front/hooks/585776376/pings","deliveries_url":"https://api.github.com/repos/puppies-inc/front/hooks/585776376/deliveries","last_response":{"code":null,"status":"unused","message":null}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"82aa89b62f019716159c5a8c36fa4cedd2d80cf4f65339b92b36e2e58b073b73"'
            Github-Authentication-Token-Expiration:
                - 2026-01-10 11:40:16 +0100
            Location:
                - https://api.github.com/repos/puppies-inc/front/hooks/585776376
            X-Accepted-Github-Permissions:
                - repository_hooks=write
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4947"
            X-Ratelimit-Reset:
                - "1765469864"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "53"
        status: 201 Created
        code: 201
        duration: 386.613417ms
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer 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
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/orgs/puppies-inc
        method: GET
      response:
        body: '{"login":"puppies-inc","id":229106624,"node_id":"O_kgDODafjwA","url":"https://api.github.com/orgs/puppies-inc","repos_url":"https://api.github.com/orgs/puppies-inc/repos","events_url":"https://api.github.com/orgs/puppies-inc/events","hooks_url":"https://api.github.com/orgs/puppies-inc/hooks","issues_url":"https://api.github.com/orgs/puppies-inc/issues","members_url":"https://api.github.com/orgs/puppies-inc/members{/member}","public_members_url":"https://api.github.com/orgs/puppies-inc/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/229106624?v=4","description":null,"is_verified":false,"has_organization_projects":true,"has_repository_projects":true,"public_repos":0,"public_gists":0,"followers":0,"following":0,"html_url":"https://github.com/puppies-inc","created_at":"2025-08-28T10:14:22Z","updated_at":"2025-08-28T10:14:53Z","archived_at":null,"type":"Organization"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"bc86a994e30de3177e08ff93addc8f5a25fafc9a101c5d234da230c629f633e4"
            Github-Authentication-Token-Expiration:
                - 2026-01-10 11:40:16 +0100
            Last-Modified:
                - Thu, 28 Aug 2025 10:14:53 GMT
            X-Accepted-Github-Permissions:
                - allows_permissionless_access=true
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; param=surtur-preview; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4946"
            X-Ratelimit-Reset:
                - "1765469864"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "54"
        status: 200 OK
        code: 200
        duration: 255.545083ms
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer 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
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/orgs/puppies-inc/repos
        method: GET
      response:
        body: '[{"id":1046187813,"node_id":"R_kgDOPluPJQ","name":"front","full_name":"puppies-inc/front","private":true,"owner":{"login":"puppies-inc","id":229106624,"node_id":"O_kgDODafjwA","avatar_url":"https://avatars.githubusercontent.com/u/229106624?v=4","gravatar_id":"","url":"https://api.github.com/users/puppies-inc","html_url":"https://github.com/puppies-inc","followers_url":"https://api.github.com/users/puppies-inc/followers","following_url":"https://api.github.com/users/puppies-inc/following{/other_user}","gists_url":"https://api.github.com/users/puppies-inc/gists{/gist_id}","starred_url":"https://api.github.com/users/puppies-inc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/puppies-inc/subscriptions","organizations_url":"https://api.github.com/users/puppies-inc/orgs","repos_url":"https://api.github.com/users/puppies-inc/repos","events_url":"https://api.github.com/users/puppies-inc/events{/privacy}","received_events_url":"https://api.github.com/users/puppies-inc/received_events","type":"Organization","user_view_type":"public","site_admin":false},"html_url":"https://github.com/puppies-inc/front","description":null,"fork":false,"url":"https://api.github.com/repos/puppies-inc/front","forks_url":"https://api.github.com/repos/puppies-inc/front/forks","keys_url":"https://api.github.com/repos/puppies-inc/front/keys{/key_id}","collaborators_url":"https://api.github.com/repos/puppies-inc/front/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/puppies-inc/front/teams","hooks_url":"https://api.github.com/repos/puppies-inc/front/hooks","issue_events_url":"https://api.github.com/repos/puppies-inc/front/issues/events{/number}","events_url":"https://api.github.com/repos/puppies-inc/front/events","assignees_url":"https://api.github.com/repos/puppies-inc/front/assignees{/user}","branches_url":"https://api.github.com/repos/puppies-inc/front/branches{/branch}","tags_url":"https://api.github.com/repos/puppies-inc/front/tags","blobs_url":"https://api.github.com/repos/puppies-inc/front/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/puppies-inc/front/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/puppies-inc/front/git/refs{/sha}","trees_url":"https://api.github.com/repos/puppies-inc/front/git/trees{/sha}","statuses_url":"https://api.github.com/repos/puppies-inc/front/statuses/{sha}","languages_url":"https://api.github.com/repos/puppies-inc/front/languages","stargazers_url":"https://api.github.com/repos/puppies-inc/front/stargazers","contributors_url":"https://api.github.com/repos/puppies-inc/front/contributors","subscribers_url":"https://api.github.com/repos/puppies-inc/front/subscribers","subscription_url":"https://api.github.com/repos/puppies-inc/front/subscription","commits_url":"https://api.github.com/repos/puppies-inc/front/commits{/sha}","git_commits_url":"https://api.github.com/repos/puppies-inc/front/git/commits{/sha}","comments_url":"https://api.github.com/repos/puppies-inc/front/comments{/number}","issue_comment_url":"https://api.github.com/repos/puppies-inc/front/issues/comments{/number}","contents_url":"https://api.github.com/repos/puppies-inc/front/contents/{+path}","compare_url":"https://api.github.com/repos/puppies-inc/front/compare/{base}...{head}","merges_url":"https://api.github.com/repos/puppies-inc/front/merges","archive_url":"https://api.github.com/repos/puppies-inc/front/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/puppies-inc/front/downloads","issues_url":"https://api.github.com/repos/puppies-inc/front/issues{/number}","pulls_url":"https://api.github.com/repos/puppies-inc/front/pulls{/number}","milestones_url":"https://api.github.com/repos/puppies-inc/front/milestones{/number}","notifications_url":"https://api.github.com/repos/puppies-inc/front/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/puppies-inc/front/labels{/name}","releases_url":"https://api.github.com/repos/puppies-inc/front/releases{/id}","deployments_url":"https://api.github.com/repos/puppies-inc/front/deployments","created_at":"2025-08-28T10:15:23Z","updated_at":"2025-11-20T16:40:56Z","pushed_at":"2025-12-08T13:40:50Z","git_url":"git://github.com/puppies-inc/front.git","ssh_url":"git@github.com:puppies-inc/front.git","clone_url":"https://github.com/puppies-inc/front.git","svn_url":"https://github.com/puppies-inc/front","homepage":null,"size":194,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":4,"license":null,"allow_forking":false,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"private","forks":0,"open_issues":4,"watchers":0,"default_branch":"main","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true},"custom_properties":{}},{"id":1046188046,"node_id":"R_kgDOPluQDg","name":"puppy-describer","full_name":"puppies-inc/puppy-describer","private":true,"owner":{"login":"puppies-inc","id":229106624,"node_id":"O_kgDODafjwA","avatar_url":"https://avatars.githubusercontent.com/u/229106624?v=4","gravatar_id":"","url":"https://api.github.com/users/puppies-inc","html_url":"https://github.com/puppies-inc","followers_url":"https://api.github.com/users/puppies-inc/followers","following_url":"https://api.github.com/users/puppies[...]
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer 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
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repositories/1046187813
        method: GET
      response:
        body: '{"id":1046187813,"node_id":"R_kgDOPluPJQ","name":"front","full_name":"puppies-inc/front","private":true,"owner":[...]
[...]
