{
  "openapi": "3.0.0",
  "info": {
    "title": "Statuspage API",
    "description": "# Code of Conduct\nPlease don't abuse the API, and please report all feature requests and issues to\nhttps://support.atlassian.com/contact\n\n# Rate Limiting\nEach API token is limited to 1 request / second as measured on a 60 second rolling window.\nTo get this limit increased, please contact us at https://support.atlassian.com/contact\n\nError codes 420 or 429 indicate that you have exceeded the rate limit and the request has been rejected.\n\n# Basics\n\n## HTTPS\nIt's required\n\n## URL Prefix\nIn order to maintain version integrity into the future, the API is versioned. All calls\ncurrently begin with the following prefix:\n\n  https://api.statuspage.io/v1/\n\n## RESTful Interface\nWherever possible, the API seeks to implement repeatable patterns with logical,\nrepresentative URLs and descriptive HTTP verbs. Below are some examples and conventions\nyou will see throughout the documentation.\n\n* Collections are buckets: https://api.statuspage.io/v1/pages/asdf123/incidents.json\n* Elements have unique IDs: https://api.statuspage.io/v1/pages/asdf123/incidents/jklm456.json\n* GET will retrieve information about a collection/element\n* POST will create an element in a collection\n* PATCH will update a single element\n* PUT will replace a single element in a collection (rarely used)\n* DELETE will destroy a single element\n\n## Sending Data\nInformation can be sent in the body as form urlencoded or JSON, but make sure the\nContent-Type header matches the body structure or the server gremlins will be angry.\n\nAll examples are provided in JSON format, however they can easily be converted to form encoding\nif required.  Some examples of how to convert things are below:\n\n    // JSON\n    {\n      \"incident\": {\n        \"name\": \"test incident\",\n        \"components\": [\"8kbf7d35c070\", \"vtnh60py4yd7\"]\n      }\n    }\n\n    // Form Encoded (using curl as an example):\n    curl -X POST https://api.statuspage.io/v1/example \\\n      -d \"incident[name]=test incident\" \\\n      -d \"incident[components][]=8kbf7d35c070\" \\\n      -d \"incident[components][]=vtnh60py4yd7\"\n\n# Authentication\n\n<!-- ReDoc-Inject: <security-definitions> -->",
    "contact": {
      "name": "Statuspage Support",
      "url": "https://support.atlassian.com/contact"
    },
    "version": "1.0.0",
    "x-logo": {
      "url": "https://d1ykxpo828xni0.cloudfront.net/Statuspage-logo-padding.svg"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "servers": [
    {
      "url": "https://api.statuspage.io/v1",
      "description": "Production API"
    }
  ],
  "tags": [
    {
      "name": "pages",
      "description": "Status page management"
    },
    {
      "name": "incidents",
      "description": "Incident creation and updates"
    },
    {
      "name": "incident updates",
      "description": "Post updates to incidents"
    },
    {
      "name": "components",
      "description": "Infrastructure component status"
    },
    {
      "name": "component groups",
      "description": "Component organization"
    },
    {
      "name": "subscribers",
      "description": "Notification subscribers"
    },
    {
      "name": "metrics",
      "description": "Custom metrics data"
    },
    {
      "name": "templates",
      "description": "Incident/maintenance templates"
    },
    {
      "name": "incident postmortem",
      "description": "Post-incident analysis"
    }
  ],
  "paths": {
    "/pages": {
      "get": {
        "summary": "Get a list of pages",
        "description": "Get a list of pages",
        "responses": {
          "200": {
            "description": "Get a list of pages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Page"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Could not authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          }
        },
        "tags": [
          "pages"
        ],
        "operationId": "getPages",
        "x-code-samples": [
          {
            "lang": "Curl",
            "source": "curl https://api.statuspage.io/v1/pages \\\n  -H \"Authorization: OAuth your-api-key-goes-here\" \\\n  -X GET\n"
          }
        ]
      }
    },
    "/pages/{page_id}": {
      "patch": {
        "summary": "Update a page",
        "description": "Update a page",
        "parameters": [
          {
            "in": "path",
            "name": "page_id",
            "description": "Page identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/patchPages"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Update a page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "401": {
            "description": "Could not authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "403": {
            "description": "You are not authorized to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          }
        },
        "tags": [
          "pages"
        ],
        "operationId": "patchPagesPageId",
        "x-code-samples": [
          {
            "lang": "Curl",
            "source": "curl https://api.statuspage.io/v1/pages/{page_id} \\\n  -H \"Authorization: OAuth your-api-key-goes-here\" \\\n  -X PATCH \\\n  -d \"page[name]=string\" \\\n  -d \"page[domain]=string\" \\\n  -d \"page[url]=string\""
          }
        ]
      },
      "put": {
        "summary": "Update a page",
        "description": "Update a page",
        "parameters": [
          {
            "in": "path",
            "name": "page_id",
            "description": "Page identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putPages"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Update a page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "401": {
            "description": "Could not authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "403": {
            "description": "You are not authorized to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          }
        },
        "tags": [
          "pages"
        ],
        "operationId": "putPagesPageId",
        "x-code-samples": [
          {
            "lang": "Curl",
            "source": "curl https://api.statuspage.io/v1/pages/{page_id} \\\n  -H \"Authorization: OAuth your-api-key-goes-here\" \\\n  -X PATCH \\\n  -d \"page[name]=string\" \\\n  -d \"page[domain]=string\" \\\n  -d \"page[url]=string\""
          }
        ]
      },
      "get": {
        "summary": "Get a page",
        "description": "Get a page",
        "parameters": [
          {
            "in": "path",
            "name": "page_id",
            "description": "Page identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "401": {
            "description": "Could not authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "403": {
            "description": "You are not authorized to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          }
        },
        "tags": [
          "pages"
        ],
        "operationId": "getPagesPageId",
        "x-code-samples": [
          {
            "lang": "Curl",
            "source": "curl https://api.statuspage.io/v1/pages/{page_id} \\\n  -H \"Authorization: OAuth your-api-key-goes-here\" \\\n  -X GET\n"
          }
        ]
      }
    },
    "/pages/{page_id}/incidents": {
      "post": {
        "summary": "Create an incident",
        "description": "Create an incident",
        "parameters": [
          {
            "in": "path",
            "name": "page_id",
            "description": "Page identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postPagesPageIdIncidents"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Create an incident",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Incident"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "401": {
            "description": "Could not authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          }
        },
        "tags": [
          "incidents"
        ],
        "operationId": "postPagesPageIdIncidents",
        "x-code-samples": [
          {
            "lang": "Curl",
            "source": "curl https://api.statuspage.io/v1/pages/{page_id}/incidents \\\n  -H \"Authorization: OAuth your-api-key-goes-here\" \\\n  -X POST \\\n  -d \"incident[name]=string\" \\\n  -d \"incident[status]=string\" \\\n  -d \"incident[body]=string\""
          }
        ]
      },
      "get": {
        "summary": "Get a list of incidents",
        "description": "Get a list of incidents",
        "parameters": [
          {
            "in": "path",
            "name": "page_id",
            "description": "Page identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "q",
            "description": "If this is specified, search for the text query string in the incidents' name, status, postmortem_body, and incident_updates fields.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of rows to return per page. The default and maximum limit is 100.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page offset to fetch.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a list of incidents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Incident"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "401": {
            "description": "Could not authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          }
        },
        "tags": [
          "incidents"
        ],
        "operationId": "getPagesPageIdIncidents",
        "x-code-samples": [
          {
            "lang": "Curl",
            "source": "curl https://api.statuspage.io/v1/pages/{page_id}/incidents \\\n  -H \"Authorization: OAuth your-api-key-goes-here\" \\\n  -X GET\n"
          }
        ]
      }
    },
    "/pages/{page_id}/incidents/unresolved": {
      "get": {
        "summary": "Get a list of unresolved incidents",
        "description": "Get a list of unresolved incidents",
        "parameters": [
          {
            "in": "path",
            "name": "page_id",
            "description": "Page identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page offset to fetch.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of results to return per page.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a list of unresolved incidents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Incident"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Could not authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          }
        },
        "tags": [
          "incidents"
        ],
        "operationId": "getPagesPageIdIncidentsUnresolved",
        "x-code-samples": [
          {
            "lang": "Curl",
            "source": "curl https://api.statuspage.io/v1/pages/{page_id}/incidents/unresolved \\\n  -H \"Authorization: OAuth your-api-key-goes-here\" \\\n  -X GET\n"
          }
        ]
      }
    },
    "/pages/{page_id}/incidents/scheduled": {
      "get": {
        "summary": "Get a list of scheduled incidents",
        "description": "Get a list of scheduled incidents",
        "parameters": [
          {
            "in": "path",
            "name": "page_id",
            "description": "Page identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page offset to fetch.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of results to return per page.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a list of scheduled incidents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Incident"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Could not authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          }
        },
        "tags": [
          "incidents"
        ],
        "operationId": "getPagesPageIdIncidentsScheduled",
        "x-code-samples": [
          {
            "lang": "Curl",
            "source": "curl https://api.statuspage.io/v1/pages/{page_id}/incidents/scheduled \\\n  -H \"Authorization: OAuth your-api-key-goes-here\" \\\n  -X GET\n"
          }
        ]
      }
    },
    "/pages/{page_id}/incidents/active_maintenance": {
      "get": {
        "summary": "Get a list of active maintenances",
        "description": "Get a list of active maintenances",
        "parameters": [
          {
            "in": "path",
            "name": "page_id",
            "description": "Page identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page offset to fetch.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of results to return per page.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a list of active maintenances",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Incident"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Could not authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          }
        },
        "tags": [
          "incidents"
        ],
        "operationId": "getPagesPageIdIncidentsActiveMaintenance",
        "x-code-samples": [
          {
            "lang": "Curl",
            "source": "curl https://api.statuspage.io/v1/pages/{page_id}/incidents/active_maintenance \\\n  -H \"Authorization: OAuth your-api-key-goes-here\" \\\n  -X GET\n"
          }
        ]
      }
    },
    "/pages/{page_id}/incidents/{incident_id}": {
      "delete": {
        "summary": "Delete an incident",
        "description": "Delete an incident",
        "parameters": [
          {
            "in": "path",
            "name": "page_id",
            "description": "Page identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "incident_id",
            "description": "Incident Identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delete an incident",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Incident"
                }
              }
            }
          }
        },
        "tags": [
          "incidents"
        ],
        "operationId": "deletePagesPageIdIncidentsIncidentId",
        "x-code-samples": [
          {
            "lang": "Curl",
            "source": "curl https://api.statuspage.io/v1/pages/{page_id}/incidents/{incident_id} \\\n  -H \"Authorization: OAuth your-api-key-goes-here\" \\\n  -X DELETE\n"
          }
        ]
      },
      "patch": {
        "summary": "Update an incident",
        "description": "Update an incident",
        "parameters": [
          {
            "in": "path",
            "name": "page_id",
            "description": "Page identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "incident_id",
            "description": "Incident Identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/patchPagesPageIdIncidents"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Update an incident",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Incident"
                }
              }
            }
          }
        },
        "tags": [
          "incidents"
        ],
        "operationId": "patchPagesPageIdIncidentsIncidentId",
        "x-code-samples": [
          {
            "lang": "Curl",
            "source": "curl https://api.statuspage.io/v1/pages/{page_id}/incidents/{incident_id} \\\n  -H \"Authorization: OAuth your-api-key-goes-here\" \\\n  -X PATCH \\\n  -d \"incident[name]=string\" \\\n  -d \"incident[status]=string\" \\\n  -d \"incident[body]=string\""
          }
        ]
      },
      "put": {
        "summary": "Update an incident",
        "description": "Update an incident",
        "parameters": [
          {
            "in": "path",
            "name": "page_id",
            "description": "Page identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "incident_id",
            "description": "Incident Identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putPagesPageIdIncidents"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Update an incident",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Incident"
                }
              }
            }
          }
        },
        "tags": [
          "incidents"
        ],
        "operationId": "putPagesPageIdIncidentsIncidentId",
        "x-code-samples": [
          {
            "lang": "Curl",
            "source": "curl https://api.statuspage.io/v1/pages/{page_id}/incidents/{incident_id} \\\n  -H \"Authorization: OAuth your-api-key-goes-here\" \\\n  -X PATCH \\\n  -d \"incident[name]=string\" \\\n  -d \"incident[status]=string\" \\\n  -d \"incident[body]=string\""
          }
        ]
      },
      "get": {
        "summary": "Get an incident",
        "description": "Get an incident",
        "parameters": [
          {
            "in": "path",
            "name": "page_id",
            "description": "Page identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "incident_id",
            "description": "Incident Identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get an incident",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Incident"
                }
              }
            }
          }
        },
        "tags": [
          "incidents"
        ],
        "operationId": "getPagesPageIdIncidentsIncidentId",
        "x-code-samples": [
          {
            "lang": "Curl",
            "source": "curl https://api.statuspage.io/v1/pages/{page_id}/incidents/{incident_id} \\\n  -H \"Authorization: OAuth your-api-key-goes-here\" \\\n  -X GET\n"
          }
        ]
      }
    },
    "/pages/{page_id}/incidents/{incident_id}/incident_updates/{incident_update_id}": {
      "patch": {
        "summary": "Update a previous incident update",
        "description": "Update a previous incident update",
        "parameters": [
          {
            "in": "path",
            "name": "page_id",
            "description": "Page identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "incident_id",
            "description": "Incident Identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "incident_update_id",
            "description": "Incident Update Identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/patchPagesPageIdIncidentsIncidentIdIncidentUpdates"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Update a previous incident update",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentUpdate"
                }
              }
            }
          }
        },
        "tags": [
          "incident updates"
        ],
        "operationId": "patchPagesPageIdIncidentsIncidentIdIncidentUpdatesIncidentUpdateId",
        "x-code-samples": [
          {
            "lang": "Curl",
            "source": "curl https://api.statuspage.io/v1/pages/{page_id}/incidents/{incident_id}/incident_updates/{incident_update_id} \\\n  -H \"Authorization: OAuth your-api-key-goes-here\" \\\n  -X PATCH \\\n  -d \"incident_update[wants_twitter_update]=true\" \\\n  -d \"incident_update[body]=string\""
          }
        ]
      },
      "put": {
        "summary": "Update a previous incident update",
        "description": "Update a previous incident update",
        "parameters": [
          {
            "in": "path",
            "name": "page_id",
            "description": "Page identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "incident_id",
            "description": "Incident Identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "incident_update_id",
            "description": "Incident Update Identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putPagesPageIdIncidentsIncidentIdIncidentUpdates"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Update a previous incident update",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentUpdate"
                }
              }
            }
          }
        },
        "tags": [
          "incident updates"
        ],
        "operationId": "putPagesPageIdIncidentsIncidentIdIncidentUpdatesIncidentUpdateId",
        "x-code-samples": [
          {
            "lang": "Curl",
            "source": "curl https://api.statuspage.io/v1/pages/{page_id}/incidents/{incident_id}/incident_updates/{incident_update_id} \\\n  -H \"Authorization: OAuth your-api-key-goes-here\" \\\n  -X PATCH \\\n  -d \"incident_update[wants_twitter_update]=true\" \\\n  -d \"incident_update[body]=string\""
          }
        ]
      }
    },
    "/pages/{page_id}/components": {
      "post": {
        "summary": "Create a component",
        "description": "Create a component",
        "parameters": [
          {
            "in": "path",
            "name": "page_id",
            "description": "Page identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postPagesPageIdComponents"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Create a component",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Component"
                }
              }
            }
          },
          "401": {
            "description": "Could not authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          }
        },
        "tags": [
          "components"
        ],
        "operationId": "postPagesPageIdComponents",
        "x-code-samples": [
          {
            "lang": "Curl",
            "source": "curl https://api.statuspage.io/v1/pages/{page_id}/components \\\n  -H \"Authorization: OAuth your-api-key-goes-here\" \\\n  -X POST \\\n  -d \"component[description]=string\" \\\n  -d \"component[status]=string\" \\\n  -d \"component[name]=string\""
          }
        ]
      },
      "get": {
        "summary": "Get a list of components",
        "description": "Get a list of components",
        "parameters": [
          {
            "in": "path",
            "name": "page_id",
            "description": "Page identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page offset to fetch. Beginning February 28, 2023, this endpoint will return paginated data even if this query parameter is not provided.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of results to return per page. Beginning February 28, 2023, a default and maximum limit of 100 will be imposed and this endpoint will return paginated data even if this query parameter is not provided.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 1100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a list of components",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Component"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Could not authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          }
        },
        "tags": [
          "components"
        ],
        "operationId": "getPagesPageIdComponents",
        "x-code-samples": [
          {
            "lang": "Curl",
            "source": "curl https://api.statuspage.io/v1/pages/{page_id}/components \\\n  -H \"Authorization: OAuth your-api-key-goes-here\" \\\n  -X GET\n"
          }
        ]
      }
    },
    "/pages/{page_id}/components/{component_id}": {
      "patch": {
        "summary": "Update a component",
        "description": "If group_id is \"null\" then the component will be removed from a group.",
        "parameters": [
          {
            "in": "path",
            "name": "page_id",
            "description": "Page identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "component_id",
            "description": "Component identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/patchPagesPageIdComponents"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Update a component",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Component"
                }
              }
            }
          },
          "401": {
            "description": "Could not authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          }
        },
        "tags": [
          "components"
        ],
        "operationId": "patchPagesPageIdComponentsComponentId",
        "x-code-samples": [
          {
            "lang": "Curl",
            "source": "curl https://api.statuspage.io/v1/pages/{page_id}/components/{component_id} \\\n  -H \"Authorization: OAuth your-api-key-goes-here\" \\\n  -X PATCH \\\n  -d \"component[description]=string\" \\\n  -d \"component[status]=string\" \\\n  -d \"component[name]=string\""
          }
        ]
      },
      "put": {
        "summary": "Update a component",
        "description": "If group_id is \"null\" then the component will be removed from a group.",
        "parameters": [
          {
            "in": "path",
            "name": "page_id",
            "description": "Page identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "component_id",
            "description": "Component identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putPagesPageIdComponents"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Update a component",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Component"
                }
              }
            }
          },
          "401": {
            "description": "Could not authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          }
        },
        "tags": [
          "components"
        ],
        "operationId": "putPagesPageIdComponentsComponentId",
        "x-code-samples": [
          {
            "lang": "Curl",
            "source": "curl https://api.statuspage.io/v1/pages/{page_id}/components/{component_id} \\\n  -H \"Authorization: OAuth your-api-key-goes-here\" \\\n  -X PATCH \\\n  -d \"component[description]=string\" \\\n  -d \"component[status]=string\" \\\n  -d \"component[name]=string\""
          }
        ]
      },
      "delete": {
        "summary": "Delete a component",
        "description": "Delete a component",
        "parameters": [
          {
            "in": "path",
            "name": "page_id",
            "description": "Page identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "component_id",
            "description": "Component identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete a component"
          },
          "401": {
            "description": "Could not authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          }
        },
        "tags": [
          "components"
        ],
        "operationId": "deletePagesPageIdComponentsComponentId",
        "x-code-samples": [
          {
            "lang": "Curl",
            "source": "curl https://api.statuspage.io/v1/pages/{page_id}/components/{component_id} \\\n  -H \"Authorization: OAuth your-api-key-goes-here\" \\\n  -X DELETE\n"
          }
        ]
      },
      "get": {
        "summary": "Get a component",
        "description": "Get a component",
        "parameters": [
          {
            "in": "path",
            "name": "page_id",
            "description": "Page identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "component_id",
            "description": "Component identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a component",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Component"
                }
              }
            }
          },
          "401": {
            "description": "Could not authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          }
        },
        "tags": [
          "components"
        ],
        "operationId": "getPagesPageIdComponentsComponentId",
        "x-code-samples": [
          {
            "lang": "Curl",
            "source": "curl https://api.statuspage.io/v1/pages/{page_id}/components/{component_id} \\\n  -H \"Authorization: OAuth your-api-key-goes-here\" \\\n  -X GET\n"
          }
        ]
      }
    },
    "/pages/{page_id}/component-groups": {
      "post": {
        "summary": "Create a component group",
        "description": "Create a component group",
        "parameters": [
          {
            "in": "path",
            "name": "page_id",
            "description": "Page identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postPagesPageIdComponentGroups"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Create a component group",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupComponent"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "401": {
            "description": "Could not authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          }
        },
        "tags": [
          "component groups"
        ],
        "operationId": "postPagesPageIdComponentGroups",
        "x-code-samples": [
          {
            "lang": "Curl",
            "source": "curl https://api.statuspage.io/v1/pages/{page_id}/component-groups \\\n  -H \"Authorization: OAuth your-api-key-goes-here\" \\\n  -X POST \\\n  -d \"component_group[components][]=your-id\" \\\n  -d \"component_group[name]=string\""
          }
        ]
      },
      "get": {
        "summary": "Get a list of component groups",
        "description": "Get a list of component groups",
        "parameters": [
          {
            "in": "path",
            "name": "page_id",
            "description": "Page identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page offset to fetch. Beginning February 28, 2023, this endpoint will return paginated data even if this query parameter is not provided.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of results to return per page. Beginning February 28, 2023, a default and maximum limit of 100 will be imposed and this endpoint will return paginated data even if this query parameter is not provided.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a list of component groups",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GroupComponent"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Could not authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          }
        },
        "tags": [
          "component groups"
        ],
        "operationId": "getPagesPageIdComponentGroups",
        "x-code-samples": [
          {
            "lang": "Curl",
            "source": "curl https://api.statuspage.io/v1/pages/{page_id}/component-groups \\\n  -H \"Authorization: OAuth your-api-key-goes-here\" \\\n  -X GET\n"
          }
        ]
      }
    },
    "/pages/{page_id}/component-groups/{id}": {
      "patch": {
        "summary": "Update a component group",
        "description": "Update a component group",
        "parameters": [
          {
            "in": "path",
            "name": "page_id",
            "description": "Page identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "id",
            "description": "Component group identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/patchPagesPageIdComponentGroups"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Update a component group",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupComponent"
                }
              }
            }
          },
          "401": {
            "description": "Could not authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          }
        },
        "tags": [
          "component groups"
        ],
        "operationId": "patchPagesPageIdComponentGroupsId",
        "x-code-samples": [
          {
            "lang": "Curl",
            "source": "curl https://api.statuspage.io/v1/pages/{page_id}/component-groups/{id} \\\n  -H \"Authorization: OAuth your-api-key-goes-here\" \\\n  -X PATCH \\\n  -d \"component_group[components][]=your-id\" \\\n  -d \"component_group[name]=string\""
          }
        ]
      },
      "put": {
        "summary": "Update a component group",
        "description": "Update a component group",
        "parameters": [
          {
            "in": "path",
            "name": "page_id",
            "description": "Page identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "id",
            "description": "Component group identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putPagesPageIdComponentGroups"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Update a component group",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupComponent"
                }
              }
            }
          },
          "401": {
            "description": "Could not authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          }
        },
        "tags": [
          "component groups"
        ],
        "operationId": "putPagesPageIdComponentGroupsId",
        "x-code-samples": [
          {
            "lang": "Curl",
            "source": "curl https://api.statuspage.io/v1/pages/{page_id}/component-groups/{id} \\\n  -H \"Authorization: OAuth your-api-key-goes-here\" \\\n  -X PATCH \\\n  -d \"component_group[components][]=your-id\" \\\n  -d \"component_group[name]=string\""
          }
        ]
      },
      "delete": {
        "summary": "Delete a component group",
        "description": "Delete a component group",
        "parameters": [
          {
            "in": "path",
            "name": "page_id",
            "description": "Page identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "id",
            "description": "Component group identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delete a component group",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupComponent"
                }
              }
            }
          },
          "401": {
            "description": "Could not authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          }
        },
        "tags": [
          "component groups"
        ],
        "operationId": "deletePagesPageIdComponentGroupsId",
        "x-code-samples": [
          {
            "lang": "Curl",
            "source": "curl https://api.statuspage.io/v1/pages/{page_id}/component-groups/{id} \\\n  -H \"Authorization: OAuth your-api-key-goes-here\" \\\n  -X DELETE\n"
          }
        ]
      },
      "get": {
        "summary": "Get a component group",
        "description": "Get a component group",
        "parameters": [
          {
            "in": "path",
            "name": "page_id",
            "description": "Page identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "id",
            "description": "Component group identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a component group",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupComponent"
                }
              }
            }
          },
          "401": {
            "description": "Could not authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          }
        },
        "tags": [
          "component groups"
        ],
        "operationId": "getPagesPageIdComponentGroupsId",
        "x-code-samples": [
          {
            "lang": "Curl",
            "source": "curl https://api.statuspage.io/v1/pages/{page_id}/component-groups/{id} \\\n  -H \"Authorization: OAuth your-api-key-goes-here\" \\\n  -X GET\n"
          }
        ]
      }
    },
    "/pages/{page_id}/subscribers": {
      "post": {
        "summary": "Create a subscriber",
        "description": "Create a subscriber. Not applicable for Slack subscribers.",
        "parameters": [
          {
            "in": "path",
            "name": "page_id",
            "description": "Page identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postPagesPageIdSubscribers"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Create a subscriber. Not applicable for Slack subscribers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscriber"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "401": {
            "description": "Could not authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "403": {
            "description": "You are not authorized to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          }
        },
        "tags": [
          "subscribers"
        ],
        "operationId": "postPagesPageIdSubscribers",
        "x-code-samples": [
          {
            "lang": "Curl",
            "source": "curl https://api.statuspage.io/v1/pages/{page_id}/subscribers \\\n  -H \"Authorization: OAuth your-api-key-goes-here\" \\\n  -X POST \\\n  -d \"subscriber[email]=string\""
          }
        ]
      },
      "get": {
        "summary": "Get a list of subscribers",
        "description": "Get a list of subscribers",
        "parameters": [
          {
            "in": "path",
            "name": "page_id",
            "description": "Page identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "q",
            "description": "If this is specified, search the contact information (email, endpoint, or phone number) for the provided value. This parameter doesn\u2019t support searching for Slack subscribers.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "type",
            "description": "If specified, only return subscribers of the indicated type.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "email",
                "sms",
                "webhook",
                "slack",
                "teams",
                "integration_partner"
              ]
            }
          },
          {
            "in": "query",
            "name": "state",
            "description": "If this is present, only return subscribers in this state. Specify state \"all\" to find subscribers in any states.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "unconfirmed",
                "quarantined",
                "all"
              ],
              "default": "active"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of rows to return. If a text query string is specified (q=), the default and maximum limit is 100. If the text query string is not specified, the default and maximum limit are not set, and not providing a limit will return all the subscribers. Beginning February 28, 2023, a default limit of 100 will be imposed and this endpoint will return paginated data (i.e. will no longer return all subscribers) even if this query parameter is not provided.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "page",
            "description": "The page offset of subscribers. The first page is page 0, the second page 1, etc. This skips page * limit subscribers. Beginning February 28, 2023, this endpoint will return paginated data even if this query parameter is not provided.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "sort_field",
            "description": "The field on which to sort: 'primary' to indicate sorting by the identifying field, 'created_at' for sorting by creation timestamp, 'quarantined_at' for sorting by quarantine timestamp, and 'relevance' which sorts by the relevancy of the search text. 'relevance' is not a valid parameter if no search text is supplied.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "primary",
                "created_at",
                "quarantined_at",
                "relevance"
              ],
              "default": "primary"
            }
          },
          {
            "in": "query",
            "name": "sort_direction",
            "description": "The sort direction of the listing.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a list of subscribers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Subscriber"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "401": {
            "description": "Could not authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "403": {
            "description": "You are not authorized to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          }
        },
        "tags": [
          "subscribers"
        ],
        "operationId": "getPagesPageIdSubscribers",
        "x-code-samples": [
          {
            "lang": "Curl",
            "source": "curl https://api.statuspage.io/v1/pages/{page_id}/subscribers \\\n  -H \"Authorization: OAuth your-api-key-goes-here\" \\\n  -X GET\n"
          }
        ]
      }
    },
    "/pages/{page_id}/subscribers/{subscriber_id}": {
      "delete": {
        "summary": "Unsubscribe a subscriber",
        "description": "Unsubscribe a subscriber",
        "parameters": [
          {
            "in": "path",
            "name": "page_id",
            "description": "Page identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "subscriber_id",
            "description": "Subscriber Identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "skip_unsubscription_notification",
            "description": "If skip_unsubscription_notification is true, the subscriber does not receive any notifications when they are unsubscribed.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Unsubscribe a subscriber",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscriber"
                }
              }
            }
          },
          "401": {
            "description": "Could not authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          }
        },
        "tags": [
          "subscribers"
        ],
        "operationId": "deletePagesPageIdSubscribersSubscriberId",
        "x-code-samples": [
          {
            "lang": "Curl",
            "source": "curl https://api.statuspage.io/v1/pages/{page_id}/subscribers/{subscriber_id} \\\n  -H \"Authorization: OAuth your-api-key-goes-here\" \\\n  -X DELETE\n"
          }
        ]
      },
      "patch": {
        "summary": "Update a subscriber",
        "description": "Update a subscriber",
        "parameters": [
          {
            "in": "path",
            "name": "page_id",
            "description": "Page identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "subscriber_id",
            "description": "Subscriber Identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/patchPagesPageIdSubscribers"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Update a subscriber",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscriber"
                }
              }
            }
          },
          "401": {
            "description": "Could not authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          }
        },
        "tags": [
          "subscribers"
        ],
        "operationId": "patchPagesPageIdSubscribersSubscriberId",
        "x-code-samples": [
          {
            "lang": "Curl",
            "source": "curl https://api.statuspage.io/v1/pages/{page_id}/subscribers/{subscriber_id} \\\n  -H \"Authorization: OAuth your-api-key-goes-here\" \\\n  -X PATCH \\\n  -d \"component_ids[]=your-id\""
          }
        ]
      },
      "get": {
        "summary": "Get a subscriber",
        "description": "Get a subscriber",
        "parameters": [
          {
            "in": "path",
            "name": "page_id",
            "description": "Page identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "subscriber_id",
            "description": "Subscriber Identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a subscriber",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscriber"
                }
              }
            }
          },
          "401": {
            "description": "Could not authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          }
        },
        "tags": [
          "subscribers"
        ],
        "operationId": "getPagesPageIdSubscribersSubscriberId",
        "x-code-samples": [
          {
            "lang": "Curl",
            "source": "curl https://api.statuspage.io/v1/pages/{page_id}/subscribers/{subscriber_id} \\\n  -H \"Authorization: OAuth your-api-key-goes-here\" \\\n  -X GET\n"
          }
        ]
      }
    },
    "/pages/{page_id}/subscribers/unsubscribe": {
      "post": {
        "summary": "Unsubscribe a list of subscribers",
        "description": "Unsubscribe a list of subscribers",
        "parameters": [
          {
            "in": "path",
            "name": "page_id",
            "description": "Page identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postPagesPageIdSubscribersUnsubscribe"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Unsubscribe a list of subscribers"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "401": {
            "description": "Could not authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          }
        },
        "tags": [
          "subscribers"
        ],
        "operationId": "postPagesPageIdSubscribersUnsubscribe",
        "x-code-samples": [
          {
            "lang": "Curl",
            "source": "curl https://api.statuspage.io/v1/pages/{page_id}/subscribers/unsubscribe \\\n  -H \"Authorization: OAuth your-api-key-goes-here\" \\\n  -X POST \\\n  -d \"subscribers[]=your-id\""
          }
        ]
      }
    },
    "/pages/{page_id}/subscribers/reactivate": {
      "post": {
        "summary": "Reactivate a list of subscribers",
        "description": "Reactivate a list of quarantined subscribers",
        "parameters": [
          {
            "in": "path",
            "name": "page_id",
            "description": "Page identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postPagesPageIdSubscribersReactivate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Reactivate a list of quarantined subscribers"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "401": {
            "description": "Could not authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          }
        },
        "tags": [
          "subscribers"
        ],
        "operationId": "postPagesPageIdSubscribersReactivate",
        "x-code-samples": [
          {
            "lang": "Curl",
            "source": "curl https://api.statuspage.io/v1/pages/{page_id}/subscribers/reactivate \\\n  -H \"Authorization: OAuth your-api-key-goes-here\" \\\n  -X POST \\\n  -d \"subscribers[]=your-id\""
          }
        ]
      }
    },
    "/pages/{page_id}/metrics": {
      "get": {
        "summary": "Get a list of metrics",
        "description": "Get a list of metrics",
        "parameters": [
          {
            "in": "path",
            "name": "page_id",
            "description": "Page identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page offset to fetch. Beginning February 28, 2023, this endpoint will return paginated data even if this query parameter is not provided.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of results to return per page. Beginning February 28, 2023, a default and maximum limit of 100 will be imposed and this endpoint will return paginated data even if this query parameter is not provided.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a list of metrics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metric"
                }
              }
            }
          },
          "401": {
            "description": "Could not authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          }
        },
        "tags": [
          "metrics"
        ],
        "operationId": "getPagesPageIdMetrics",
        "x-code-samples": [
          {
            "lang": "Curl",
            "source": "curl https://api.statuspage.io/v1/pages/{page_id}/metrics \\\n  -H \"Authorization: OAuth your-api-key-goes-here\" \\\n  -X GET\n"
          }
        ]
      }
    },
    "/pages/{page_id}/metrics/{metric_id}/data": {
      "delete": {
        "summary": "Reset data for a metric",
        "description": "Reset data for a metric",
        "parameters": [
          {
            "in": "path",
            "name": "page_id",
            "description": "Page identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "metric_id",
            "description": "Metric Identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reset data for a metric",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metric"
                }
              }
            }
          },
          "401": {
            "description": "Could not authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          }
        },
        "tags": [
          "metrics"
        ],
        "operationId": "deletePagesPageIdMetricsMetricIdData",
        "x-code-samples": [
          {
            "lang": "Curl",
            "source": "curl https://api.statuspage.io/v1/pages/{page_id}/metrics/{metric_id}/data \\\n  -H \"Authorization: OAuth your-api-key-goes-here\" \\\n  -X DELETE\n"
          }
        ]
      },
      "post": {
        "summary": "Add data to a metric",
        "description": "Add data to a metric",
        "parameters": [
          {
            "in": "path",
            "name": "page_id",
            "description": "Page identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "metric_id",
            "description": "Metric Identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postPagesPageIdMetricsMetricIdData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Add data to a metric",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleMetricAddResponse"
                }
              }
            }
          },
          "401": {
            "description": "Could not authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          }
        },
        "tags": [
          "metrics"
        ],
        "operationId": "postPagesPageIdMetricsMetricIdData",
        "x-code-samples": [
          {
            "lang": "Curl",
            "source": "curl https://api.statuspage.io/v1/pages/{page_id}/metrics/{metric_id}/data \\\n  -H \"Authorization: OAuth your-api-key-goes-here\" \\\n  -X POST \\\n  -d \"data[timestamp]=0\" \\\n  -d \"data[value]=0\""
          }
        ]
      }
    },
    "/pages/{page_id}/incident_templates": {
      "post": {
        "summary": "Create a template",
        "description": "Create a template",
        "parameters": [
          {
            "in": "path",
            "name": "page_id",
            "description": "Page identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postPagesPageIdIncidentTemplates"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Create a template",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentTemplate"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "401": {
            "description": "Could not authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          }
        },
        "tags": [
          "templates"
        ],
        "operationId": "postPagesPageIdIncidentTemplates",
        "x-code-samples": [
          {
            "lang": "Curl",
            "source": "curl https://api.statuspage.io/v1/pages/{page_id}/incident_templates \\\n  -H \"Authorization: OAuth your-api-key-goes-here\" \\\n  -X POST \\\n  -d \"template[name]=string\" \\\n  -d \"template[title]=string\" \\\n  -d \"template[body]=string\""
          }
        ]
      },
      "get": {
        "summary": "Get a list of templates",
        "description": "Get a list of templates",
        "parameters": [
          {
            "in": "path",
            "name": "page_id",
            "description": "Page identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page offset to fetch.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of results to return per page.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a list of templates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IncidentTemplate"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Could not authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          }
        },
        "tags": [
          "templates"
        ],
        "operationId": "getPagesPageIdIncidentTemplates",
        "x-code-samples": [
          {
            "lang": "Curl",
            "source": "curl https://api.statuspage.io/v1/pages/{page_id}/incident_templates \\\n  -H \"Authorization: OAuth your-api-key-goes-here\" \\\n  -X GET\n"
          }
        ]
      }
    },
    "/pages/{page_id}/incidents/{incident_id}/postmortem": {
      "get": {
        "summary": "Get Postmortem",
        "description": "Get Postmortem",
        "parameters": [
          {
            "in": "path",
            "name": "page_id",
            "description": "Page identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "incident_id",
            "description": "Incident Identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get Postmortem",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Postmortem"
                }
              }
            }
          },
          "401": {
            "description": "Could not authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          }
        },
        "tags": [
          "incident postmortem"
        ],
        "operationId": "getPagesPageIdIncidentsIncidentIdPostmortem",
        "x-code-samples": [
          {
            "lang": "Curl",
            "source": "curl https://api.statuspage.io/v1/pages/{page_id}/incidents/{incident_id}/postmortem \\\n  -H \"Authorization: OAuth your-api-key-goes-here\" \\\n  -X GET\n"
          }
        ]
      },
      "put": {
        "summary": "Create Postmortem",
        "description": "Create Postmortem",
        "parameters": [
          {
            "in": "path",
            "name": "page_id",
            "description": "Page identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "incident_id",
            "description": "Incident Identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putPagesPageIdIncidentsIncidentIdPostmortem"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Create Postmortem",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Postmortem"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          },
          "401": {
            "description": "Could not authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEntity"
                }
              }
            }
          }
        },
        "tags": [
          "incident postmortem"
        ],
        "operationId": "putPagesPageIdIncidentsIncidentIdPostmortem",
        "x-code-samples": [
          {
            "lang": "Curl",
            "source": "curl https://api.statuspage.io/v1/pages/{page_id}/incidents/{incident_id}/postmortem \\\n  -H \"Authorization: OAuth your-api-key-goes-here\" \\\n  -X PUT \\\n  -d \"postmortem[body_draft]=string\""
          }
        ]
      },
      "delete": {
        "summary": "Delete Postmortem",
        "description": "Delete Postmortem",
        "parameters": [
          {
            "in": "path",
            "name": "page_id",
            "description": "Page identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "incident_id",
            "description": "Incident Identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
[...]
