# Optional overrides for docker --env-file. The start script already sets:
#   BROKER_PUBLIC_URL=http://YOUR_BROKER_HOST:HOST_PORT (default broker EC2 shown below if you use script defaults)
#   AUTH_TOKEN from the shell when you run start-task-broker-remote.sh
#
# Override public URL here only if you want it in the file instead of the script env:
# BROKER_PUBLIC_URL=http://98.91.210.215:8081

# LISTEN_ADDR=:8081
# DATABASE_PATH=/home/nonroot/broker.db
