/*
Superplane Organizations API

API for managing organizations in the Superplane service

API version: 1.0
Contact: support@superplane.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi_client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)

// CanvasChangeRequestAPIService CanvasChangeRequestAPI service
type CanvasChangeRequestAPIService service

type ApiCanvasesCreateCanvasChangeRequestRequest struct {
	ctx        context.Context
	ApiService *CanvasChangeRequestAPIService
	canvasId   string
	body       *CanvasesCreateCanvasChangeRequestBody
}

func (r ApiCanvasesCreateCanvasChangeRequestRequest) Body(body CanvasesCreateCanvasChangeRequestBody) ApiCanvasesCreateCanvasChangeRequestRequest {
	r.body = &body
	return r
}

func (r ApiCanvasesCreateCanvasChangeRequestRequest) Execute() (*CanvasesCreateCanvasChangeRequestResponse, *http.Response, error) {
	return r.ApiService.CanvasesCreateCanvasChangeRequestExecute(r)
}

/*
CanvasesCreateCanvasChangeRequest Create canvas change request

Creates a change request for a draft canvas version

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param canvasId
	@return ApiCanvasesCreateCanvasChangeRequestRequest
*/
func (a *CanvasChangeRequestAPIService) CanvasesCreateCanvasChangeRequest(ctx context.Context, canvasId string) ApiCanvasesCreateCanvasChangeRequestRequest {
	return ApiCanvasesCreateCanvasChangeRequestRequest{
		ApiService: a,
		ctx:        ctx,
		canvasId:   canvasId,
	}
}

// Execute executes the request
//
//	@return CanvasesCreateCanvasChangeRequestResponse
func (a *CanvasChangeRequestAPIService) CanvasesCreateCanvasChangeRequestExecute(r ApiCanvasesCreateCanvasChangeRequestRequest) (*CanvasesCreateCanvasChangeRequestResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CanvasesCreateCanvasChangeRequestResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CanvasChangeRequestAPIService.CanvasesCreateCanvasChangeRequest")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/canvases/{canvasId}/change-requests"
	localVarPath = strings.Replace(localVarPath, "{"+"canvasId"+"}", url.PathEscape(parameterValueToString(r.canvasId, "canvasId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v GooglerpcStatus
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCanvasesDescribeCanvasChangeRequestRequest struct {
	ctx             context.Context
	ApiService      *CanvasChangeRequestAPIService
	canvasId        string
	changeRequestId string
}

func (r ApiCanvasesDescribeCanvasChangeRequestRequest) Execute() (*CanvasesDescribeCanvasChangeRequestResponse, *http.Response, error) {
	return r.ApiService.CanvasesDescribeCanvasChangeRequestExecute(r)
}

/*
CanvasesDescribeCanvasChangeRequest Describe canvas change request

Returns one canvas change request by ID

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param canvasId
	@param changeRequestId
	@return ApiCanvasesDescribeCanvasChangeRequestRequest
*/
func (a *CanvasChangeRequestAPIService) CanvasesDescribeCanvasChangeRequest(ctx context.Context, canvasId string, changeRequestId string) ApiCanvasesDescribeCanvasChangeRequestRequest {
	return ApiCanvasesDescribeCanvasChangeRequestRequest{
		ApiService:      a,
		ctx:             ctx,
		canvasId:        canvasId,
		changeRequestId: changeRequestId,
	}
}

// Execute executes the request
//
//	@return CanvasesDescribeCanvasChangeRequestResponse
func (a *CanvasChangeRequestAPIService) CanvasesDescribeCanvasChangeRequestExecute(r ApiCanvasesDescribeCanvasChangeRequestRequest) (*CanvasesDescribeCanvasChangeRequestResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CanvasesDescribeCanvasChangeRequestResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CanvasChangeRequestAPIService.CanvasesDescribeCanvasChangeRequest")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/canvases/{canvasId}/change-requests/{changeRequestId}"
	localVarPath = strings.Replace(localVarPath, "{"+"canvasId"+"}", url.PathEscape(parameterValueToString(r.canvasId, "canvasId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"changeRequestId"+"}", url.PathEscape(parameterValueToString(r.changeRequestId, "changeRequestId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v GooglerpcStatus
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCanvasesListCanvasChangeRequestsRequest struct {
	ctx          context.Context
	ApiService   *CanvasChangeRequestAPIService
	canvasId     string
	limit        *int64
	before       *time.Time
	statusFilter *string
	onlyMine     *bool
	query        *string
}

func (r ApiCanvasesListCanvasChangeRequestsRequest) Limit(limit int64) ApiCanvasesListCanvasChangeRequestsRequest {
	r.limit = &limit
	return r
}

func (r ApiCanvasesListCanvasChangeRequestsRequest) Before(before time.Time) ApiCanvasesListCanvasChangeRequestsRequest {
	r.before = &before
	return r
}

func (r ApiCanvasesListCanvasChangeRequestsRequest) StatusFilter(statusFilter string) ApiCanvasesListCanvasChangeRequestsRequest {
	r.statusFilter = &statusFilter
	return r
}

func (r ApiCanvasesListCanvasChangeRequestsRequest) OnlyMine(onlyMine bool) ApiCanvasesListCanvasChangeRequestsRequest {
	r.onlyMine = &onlyMine
	return r
}

func (r ApiCanvasesListCanvasChangeRequestsRequest) Query(query string) ApiCanvasesListCanvasChangeRequestsRequest {
	r.query = &query
	return r
}

func (r ApiCanvasesListCanvasChangeRequestsRequest) Execute() (*CanvasesListCanvasChangeRequestsResponse, *http.Response, error) {
	return r.ApiService.CanvasesListCanvasChangeRequestsExecute(r)
}

/*
CanvasesListCanvasChangeRequests List canvas change requests

Lists change requests for a canvas

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param canvasId
	@return ApiCanvasesListCanvasChangeRequestsRequest
*/
func (a *CanvasChangeRequestAPIService) CanvasesListCanvasChangeRequests(ctx context.Context, canvasId string) ApiCanvasesListCanvasChangeRequestsRequest {
	return ApiCanvasesListCanvasChangeRequestsRequest{
		ApiService: a,
		ctx:        ctx,
		canvasId:   canvasId,
	}
}

// Execute executes the request
//
//	@return CanvasesListCanvasChangeRequestsResponse
func (a *CanvasChangeRequestAPIService) CanvasesListCanvasChangeRequestsExecute(r ApiCanvasesListCanvasChangeRequestsRequest) (*CanvasesListCanvasChangeRequestsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CanvasesListCanvasChangeRequestsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CanvasChangeRequestAPIService.CanvasesListCanvasChangeRequests")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/canvases/{canvasId}/change-requests"
	localVarPath = strings.Replace(localVarPath, "{"+"canvasId"+"}", url.PathEscape(parameterValueToString(r.canvasId, "canvasId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "", "")
	}
	if r.before != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "before", r.before, "", "")
	}
	if r.statusFilter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "statusFilter", r.statusFilter, "", "")
	}
	if r.onlyMine != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "onlyMine", r.onlyMine, "", "")
	}
	if r.query != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v GooglerpcStatus
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
