.sp-blueprint-canvas .react-flow__node {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
  width: auto !important;
  cursor: default;
}

.sp-blueprint-canvas .react-flow__node .canvas-node-drag-handle {
  cursor: grab;
}

.sp-blueprint-canvas .react-flow__node.dragging .canvas-node-drag-handle,
.sp-blueprint-canvas .react-flow__node .canvas-node-drag-handle:active {
  cursor: grabbing;
}

.sp-blueprint-canvas .react-flow__edge {
  z-index: 1;
}

.sp-blueprint-canvas .react-flow__edge.selected,
.sp-blueprint-canvas .react-flow__edge.hovered {
  z-index: 1000 !important;
}

.sp-blueprint-canvas .react-flow__edge path {
  transition: stroke 0.2s ease-in-out;
}

.sp-blueprint-canvas .react-flow__connectionline path {
  stroke: #3B82F6 !important;
  stroke-width: 3 !important;
  stroke-dasharray: 8 4 !important;
}

.sp-blueprint-canvas .react-flow__handle {
  transition: all 0.2s ease-in-out;
}

.sp-blueprint-canvas .react-flow__handle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  pointer-events: auto;
}

.sp-blueprint-canvas .react-flow__handle:hover {
  box-shadow: 0 0 0 9px #3B82F6, 0 0 0 18px rgba(59, 130, 246, 0.2);
  border-color: #3B82F6 !important;
  z-index: 10;
}

.sp-blueprint-canvas .react-flow__handle.highlighted {
  box-shadow: 0 0 0 18px rgba(59, 130, 246, 0.2);
  border-color: #3B82F6 !important;
}
