#
# == Agent
# 
# AI model to use for the agent
#
# 1. Go to Claude Console and create a new API key
# 2. Copy the API key and fill it in here

AI_MODEL="anthropic:claude-sonnet-4-6"
ANTHROPIC_API_KEY="..."

#
# == Evals
#
# For running evaluation with make test.agent.evals
#
# 1. Create a new organization localhost
# 2. Create a new canvas in the organization
# 3. Create a new service account in the organization
#
# TODO: Automate this process, and use test environment instead of development
#

EVAL_CANVAS_ID="..."
EVAL_ORG_ID="..."
SUPERPLANE_API_TOKEN="..."